/* アニメーションを表示する疑似要素を表示するための土台 */
.box {
  width: 500px;
  height: 100px;
  overflow: hidden;
}

/* 疑似要素にアニメーションを追加して動かしている */
.box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  animation: slide 0.9s infinite ease-in-out 0s both;
  background-color: aquamarine;
}

@keyframes slide {
  0% {
    /* translateX()...x軸(横軸)への移動を設定する */
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.box_2 {
  width: 500px;
  height: 100px;
  overflow: hidden;
}

.box_2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: yellow;
  animation: slide_2 0.9s infinite ease-in-out 0s both;
}

@keyframes slide_2 {
  0% {
    /* translateXを反対方向に設定*/
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
